* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$game-background: hsla(218, 77%, 36%, 1);
$game-border: 4px solid hsla(298, 86%, 17%, 0.851);
$game-outline: 1px solid rgb(72, 72, 215);

$countdown-width: 1.5em;
$countdown-height: 1.5em;
$countdown-padding-left: 0.25em;

$display-background: rgb(219, 225, 240);

html {
  background-color: #000;
}

.game {
  margin-left: 5em;
  color: #ffff;

  // Components outside box
  &__countdown {
    font-size: 3em;
    background-color: $game-background;
    border: $game-border;
    border-right: 0;
    border-radius: 5%;
    outline: $game-outline;
    width: $countdown-width;
    height: $countdown-height;
    margin-top: 1em;
    padding-left: $countdown-padding-left;
    padding-top: 0.2em;

    &--singledigit {
      padding-left: $countdown-padding-left + 0.25em;
    }
  }

  // Containers
  &__upper-modules {
    display: flex;

    & > * {
      border: $game-border;
      outline: $game-outline;
      border-bottom: none;
      background-color: $game-background;
      border-radius: 10% 10% 0 0;
      text-align: center;
    }

    &__progress-display {
      margin-top: 5em;
      margin-left: $countdown-width + $countdown-padding-left + 3em;
      padding-top: 0.3em;
      width: 6em;
    }

    &__wpm {
      position: fixed;
      margin-top: 10em;
      margin-left: $countdown-width + $countdown-padding-left + 21em;
      width: 5em;
      transition: margin-top 0.5s;
      z-index: -1;

      &--visible {
        margin-top: 4.3em;
      }

      &__int {
        font-size: 3em;
      }
    }
  }

  &__horizontal-modules {
    display: flex;
  }

  &__main {
    border: $game-border;
    outline: $game-outline;
    border: 4px solid hsla(298, 86%, 17%, 0.851);
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    background-color: $game-background;
    border-radius: 8%;
    width: 26em;
    height: 14em;
    padding: 1em 2em;

    &--left > * {
      margin-bottom: 0.5em;
    }

    &--right {
      margin-top: 1em;
    }

    &__task-display {
      border: $game-border;
      outline: $game-outline;
      color: #000;
      background-color: $display-background;
      border-radius: 5%;
      height: 1.2em;
      width: 4em;
      font-size: 3em;
      text-align: center;
    }
  }

  &__input {
    font-size: 2em;
    background-color: $display-background;
    border: $game-border;
    outline: $game-outline;
    width: 5em;
    border-radius: 5%;
    padding-left: 0.1em;
    text-align: center;
    margin-left: 0.45em;
  }

  &__start-button {
    display: block;
    width: 10em;
    height: 3em;
    margin-left: 2em;
  }
}
