* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$game-background: hsla(218, 77%, 36%, 1);
$game-border: 4px solid hsla(298, 86%, 17%, 0.851);
$game-outline: 1px solid rgb(72, 72, 215);

$countdown-width: 1.5em;
$countdown-height: 1.5em;
$countdown-padding-left: 0.2em;

$display-background: rgb(219, 225, 240);

$result-color: rgb(51, 239, 104);

html {
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.game {
  margin-left: 5em;
  color: #ffff;

  &__current-character {
    font-size: 5em;
    margin-left: -0.1em;
    // margin-top: 0.2em;
    color: rgb(27, 203, 76);

    &--wrong {
      color: red;
    }
  }

  &__countdown {
    font-size: 3em;
    background-color: $game-background;
    border: $game-border;
    border-right: 0;
    border-radius: 5%;
    outline: $game-outline;
    width: $countdown-width;
    height: $countdown-height;
    margin-top: 1em;
    padding-left: $countdown-padding-left;
    padding-top: 0.08em;

    &--singledigit {
      padding-left: $countdown-padding-left + 0.22em;
    }
  }

  &__upper-modules {
    display: flex;

    & > * {
      border: $game-border;
      outline: $game-outline;
      border-bottom: none;
      background-color: $game-background;
      border-radius: 10% 10% 0 0;
      text-align: center;
    }

    &__progress-display {
      margin-top: 5em;
      margin-left: $countdown-width + $countdown-padding-left + 3em;
      padding-top: 0.3em;
      width: 6em;
    }

    &__wpm {
      position: fixed;
      margin-top: 10em;
      margin-left: $countdown-width + $countdown-padding-left + 21em;
      width: 6em;
      transition: margin-top 0.5s;
      z-index: -1;
      color: $result-color;

      &--visible {
        margin-top: 4.3em;
      }

      &__int {
        font-size: 3em;
      }
    }
  }

  &__success-rate {
    border: $game-border;
    outline: $game-outline;
    border-left: none;
    background-color: $game-background;
    border-radius: 5%;
    text-align: center;
    position: fixed;
    margin-top: 4em;
    margin-left: -6em;
    width: 6em;
    height: 5.5em;
    transition: margin-left 0.5s;
    z-index: -1;
    color: $result-color;

    &--visible {
      margin-left: 0;
    }

    &__percentage {
      font-size: 2.8em;
    }

    &__text {
      font-size: 1em;
    }
  }

  &__horizontal-modules {
    display: flex;
  }

  // Main
  &__main {
    border: $game-border;
    outline: $game-outline;
    border: 4px solid hsla(298, 86%, 17%, 0.851);
    background-color: $game-background;
    border-radius: 8%;
    width: 28em;
    height: 14em;
    padding: 1em 2em;

    &__upper {
      display: grid;
      grid-template-columns: 1.7fr 1fr;
    }

    &--left > * {
      margin-bottom: 0.5em;
    }

    &--right {
      // margin-top: 1em;
      // width: 140%;
    }

    &__task-display {
      border: $game-border;
      outline: $game-outline;
      color: #000;
      background-color: $display-background;
      border-radius: 5%;
      height: 1.2em;
      width: 4em;
      font-size: 3em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      padding-bottom: 1.2em;
    }

    &__task-controls {
      width: 140%;

      &__fieldset {
        border: none;
        padding-top: 0.2em;
      }

      &__options {
        font-size: 0.75em;
        margin-bottom: 0.1em;

        input {
        }

        label {
          margin-left: 0.4em;
        }
      }

      &__set-countdown {
        margin-top: 0.55em;

        select {
          // width: 3em;
          margin-top: 0.2em;
          display: block;
        }

        label {
          font-size: 0.9em;
        }
      }
    }
  }

  &__status-message {
    p {
      margin-bottom: 0.4em;
    }

    &__result {
      color: $result-color;
    }
  }

  &__input {
    font-size: 2em;
    border: $game-border;
    outline: $game-outline;
    width: 5em;
    border-radius: 5%;
    padding-left: 0.1em;
    text-align: center;
    margin-left: 0.45em;
  }

  // Lower
  &__main__lower {
    width: 100%;
  }

  &__play-button,
  &__settings-button {
    border: $game-border;
    border-radius: 5%;
    background-color: $display-background;
    cursor: pointer;
  }

  &__play-button {
    width: 10em;
    height: 3em;
    margin-left: 2em;
    border: $game-border;
    border-radius: 5%;
    background-color: $display-background;
  }

  &__settings-button {
    width: 10em;
    height: 3em;
    margin-left: 5em;
  }
}
